{% extends 'base.html' %}
{% block nav-about %}<a class="active" href="#">About</a>{% endblock %}

{% block content %}
    <div class="row title">
        <p>About me</p>
    </div>
    <div class="row">
        {{ text|safe }}
    </div>

    <div class="row title">
        <p>Latest pictures</p>
    </div>
    <div class="row">
        {%for a in gallery%}
            <div class="col-4 text-center">
                <p class="text-center">{{ a.title }}{{ a.id }}</p>
                <img class="rounded img-thumbnail" src="../{{ a.image.image }}">
                <a class="btn btn-light my-3" href="{{ a.id }}">See more</a>
            </div>
        {%endfor%}
    </div>

{% endblock %}