{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

</head>
<body>
        <div class="container">
        <div class="row">
            <div class="logo col-4">
                <span>Beautiful</span>
                <br>
                <span class="logo_second">moments</span>
            </div>
            <div class="col-8">
                {% block nav %}
                    <nav>
                        {% block nav-contact %}<a href="{% url 'contact' %}">Contact</a>{% endblock %}
                        {% block nav-price %}<a href="{% url 'price' %}">Price</a>{% endblock %}
                        {% block nav-gallery %}<a href="{% url 'gallery' %}">Gallery</a>{% endblock %}
                        {% block nav-about %}<a href="{% url 'about' %}">About</a>{% endblock %}
                    </nav>
                {% endblock %}
            </div>
        </div>
        </div>

        <div class="container">
        {% block content %}{% endblock %}
        </div>

        <footer class="container-fluid text-center mt-5 p-3">
        <div class="menu">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'gallery' %}">Gallery</a>
            <a href="{% url 'price' %}">Price</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>

        <span class="text-center">Copyright © 2019</span>
    </footer>
</body>
</html>